<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.micahelliott.dunnit</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-c</string>
    <string>~/proj/dunnit/dunnit.zsh</string>
  </array>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>/tmp/dunnit-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/dunnit-launchd-err.log</string>
  <key>RunAtLoad</key>
  <true/>
  </dict>
</plist>
