<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>Label</key>
    <string>com.micahelliott.dunnit-bod</string>
    <key>KeepAlive</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>~/dunnit/dunnit-bod</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
      <dict>
	<key>Weekday</key>
	<integer>1</integer>
	<key>Hour</key>
	<integer>8</integer>
	<key>Minute</key>
	<integer>15</integer>
      </dict>
      <dict>
	<key>Weekday</key>
	<integer>2</integer>
	<key>Hour</key>
	<integer>8</integer>
	<key>Minute</key>
	<integer>15</integer>
      </dict>
      <dict>
	<key>Weekday</key>
	<integer>3</integer>
	<key>Hour</key>
	<integer>8</integer>
	<key>Minute</key>
	<integer>15</integer>
      </dict>
      <dict>
	<key>Weekday</key>
	<integer>4</integer>
	<key>Hour</key>
	<integer>8</integer>
	<key>Minute</key>
	<integer>15</integer>
      </dict>
      <dict>
	<key>Weekday</key>
	<integer>5</integer>
	<key>Hour</key>
	<integer>8</integer>
	<key>Minute</key>
	<integer>15</integer>
      </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/dunnit-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/dunnit-launchd.log</string>
  </dict>
</plist>
